TEMPORAL_HOST_PORT=127.0.0.1:7233
TEMPORAL_NAMESPACE=default
IDENTITY=local
QUEUE=debug

SUBTRANS_API_KEY=KEY
SUBTRANS_BASE_URL=https://SUBTRANSURL/

VIDISPINE_BASE_URL=http://300.300.300.300:8080/API
VIDISPINE_USERNAME=USER
VIDISPINE_PASSWORD=PASS
