TEMPORAL_HOST_PORT=127.0.0.1:7233
TEMPORAL_NAMESPACE=default
IDENTITY=local
QUEUE=debug

DEBUG=true
ISILON_PREFIX=/Volumes/isilon
TEMP_MOUNT_PREFIX=/Volumes/tmp

SUBTRANS_API_KEY=KEY
SUBTRANS_BASE_URL=https://SUBTRANSURL/

VIDISPINE_BASE_URL=http://300.300.300.300:8080/API
VIDISPINE_USERNAME=USER
VIDISPINE_PASSWORD=PASS

RCLONE_PASSWORD=
RCLONE_USERNAME=

CANTEMO_URL=
CANTEMO_TOKEN=

TRIGGER_DB=trigger.db
OVERLAYS_DIR=.