<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	<div class="grid min-h-screen place-items-center bg-gray-100">
		<div class="p-2 bg-white sm:w-8/12 md:w-1/4">
	
			<form id="requestForm" method="post" class="items-center flex justify-between gap-1.5 flex-col">

				<h1 for="vxID" class="text-center w-full font-bold text-3xl text-gray-600 p-4" id="vxID" name="vxID">{{ .Title }}</h1>

				<div class="checkboxList">
					<label class="font-bold" for="Destinations">Destinations</label>
					<ul>
					{{range $index, $element := .AssetExportDestinations}}
					<li>
						<input type=checkbox class="form-checkbox h-4 w-4 inline-block align-middle" name="destinations[]" id="{{$element}}" value={{$element}}>
						<label for={{$element}}>{{ $element }}</label>
						
					</li>
					{{end}}
					</ul>
				</div>

				<div class="flex flex-col">
					<label class="font-bold" for="audioSource">Audio Source</label>
					<select class="bg-gray-200" name="audioSource" id="audioSource" >
						{{$selectedAudio := .SelectedAudioSource}}

						{{range $index, $element := .AudioSources}}
							{{if eq $element $selectedAudio}} 
							<option value={{$element}} selected>{{$element}}</option>
							{{else}}
							<option value={{$element}}>{{$element}}</option>
							{{end}}
						{{end}}
					</select>
				</div>

				<div class="text-center">
					<label class="font-bold" for="items">Language Exports</label>
					<ul name="items" class="flex flex-col gap-1">

						{{$Selected := .SelectedLanguages}}
						{{$Language := .Languages}}

						{{range $index, $language := $Language}}
							{{$isSelected := false}}

							{{range $selected := $Selected}} 

								{{if eq $selected $index}}
									{{$isSelected = true}}
									<li class="flex flex-row gap-1 ">
										<input type="checkbox" class="form-checkbox h-4 w-4" name="languages[]" id="{{$language.ISO6391}}" value={{$language.ISO6391}} checked /> 
										<label for="{{$language.ISO6391}}"> <span class="uppercase"  >{{$language.ISO6391}}</span> - {{$language.LanguageName}} </label>
									</li>		

								{{end}}

							{{end}}

							{{if not $isSelected}}
								<li class="flex flex-row gap-1">
									<input type="checkbox" class="form-checkbox h-4 w-4 " id="{{$language.ISO6391}}" name="languages[]" value={{$language.ISO6391}} />
									<label for="{{$language.ISO6391}}"><span class="uppercase"  >{{$language.ISO6391}}</span> - {{$language.LanguageName}} </label>
								</li>
							{{end}}
							
						{{end}}

					</ul>
				</div>


				<div class="flex flex-col">
				<label class="font-bold" for="watermarkPath">Overlay</label>
				<select class="bg-gray-200" name="watermarkPath" id="watermarkPath" >
					{{range $index, $element := .Filenames}}
						<option value={{$element}}>{{$element}}</option>
					{{end}}
				</select>
				</div>


				<div class="checkbox">
					<label for="withFiles">With downloadables</label>
					<input class="form-checkbox h-4 w-4 inline-block align-middle" type="checkbox" name="withFiles" id="withFiles">
				</div>

				<div class="checkbox">
					<label for="withChapters">With chapters</label>
					<input class="form-checkbox h-4 w-4 inline-block align-middle" type="checkbox" name="withChapters" id="withChapters">
				</div>

				<input id="submit" class="cursor-pointer rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none" type="submit" value="Start export">
			</form>
		</div>
	</div>
</body>

</html>