<!DOCTYPE html>
<html lang="en">
{{- /*gotype: github.com/bcc-code/bcc-media-flows/services/notifications.SimpleNotification */}}

<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>

<body>
    <p>{{.Message}}</p>
</body>

</html>