{{- /*gotype: github.com/bcc-code/bcc-media-flows/services/notifications.Simple */ -}}
{{template "header" .}}
                            <div style="margin:0; font-size:15px; line-height:1.6; white-space:pre-line;">{{.Message}}</div>
{{template "footer" .}}